a {
    font-size: 35px;
    text-decoration: none;
    color: #fff;
    padding: 5px;
}

a:active {
    color: #fff;
}

a:hover {
    color: rebeccapurple;
}

.textbox {
    padding: 5px;
    background-color: #282c34;
    border-radius: 5px;
}

.topnav {
    margin-bottom: 5px;
    padding: 5px;
    border: 2px solid rebeccapurple;
    border-radius: 5px;
    background-color: #282c34;
}