a {
    font-size: 35px;
    text-decoration: none;
    color: #fff;
    padding: 5px;
}

a:active {
    color: #fff;
}

a:hover {
    color: rebeccapurple;
}

.textbox {
    padding: 5px;
    background-color: #282c34;
    border-radius: 5px;
}

.topnav {
    margin-bottom: 5px;
    padding: 5px;
    border: 2px solid rebeccapurple;
    border-radius: 5px;
    background-color: #282c34;
}

.btn {
    border-radius: 5px;
    background-color: #282c34;
    color: #fff;
    padding: 4px 8px;
    border: 1px solid white;
    font-weight: 500;
}

.btn:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid black;
}

.center {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 4px;
}