.main {
  padding: 10px;
  background-color: #373d48;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  /* align-items: center;
  justify-content: center; */
}